*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0 1em 0 0;
	text-align: center;
}

nav ul li {
	display: inline;
	padding-right: 3em;
	color: #007aac;
	font-weight: bold;
}

nav ul a {
	color: #007aac;
}

h1 {
	text-align: center;
	color: #007aac;
	font-family: 'Volkhov', serif;
	font-size: 48px;
}

h3, p {
	text-align: center;
	color: #007aac;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
				url(../images/porta_marina_01.jpg);
	background-size: cover;

}

#free_signup {
	width: 80px;
	height: 24px;
	padding: 2px;
	text-align: center;
	margin: auto;
	color: #ffffff;
	background: #007aac;
}

#sub_main {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 50%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 50%;
}


.pic01, .pic02 {
	color: #007aac;
}

.descrip01, .descrip02 {
	color: #007aac;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
